- var datalink = "http://data.baltimoresun.com/sports/ravens-best-plays/"
//- var datalink = ""

include includes/plays.jade

doctype html
//if lt IE 7
	<html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
	<html class="no-js lt-ie9 lt-ie8">
//if IE 8
	<html class="no-js lt-ie9">
html(class="no-js", lang="en")
	head
		//Basic page needs
		meta(charset="utf-8")
		title Readers Vote: Ravens' Best Plays
		meta(name="description", content="We chose 10 of the top plays in Ravens history. Relive them, then scroll to the bottom to rank them based on your favorites.")
		meta(name="author", content="Mark Selig and Jin Bae Kim") 
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Lato|Montserrat")
		link(rel="stylesheet", type="text/css", href="#{datalink}fontello/css/fontello.css")
		link(rel="stylesheet", type="text/css", href="#{datalink}css/style.css")

		//Facebook Stuff
		meta(property="og:title", content="Readers Vote: Ravens' Best Plays")
		meta(property="og:url", content="http://data.baltimoresun.com/sports/ravens-best-plays/")
		meta(property="og:image", content="#{datalink}images/thumbnail.png")
		meta(property="og:site_name", content="The Baltimore Sun")
		meta(property="og:description", content="We chose 10 of the top plays in Ravens history. Relive them, then scroll to the bottom to rank them based on your favorites.")
		meta(property="fb:app_id", content="310302989040998")
		//Twitter Stuff
		meta(name="twitter:card", content="summary")
		meta(name="twitter:site", content="@baltimoresun")
		meta(name="twitter:creator", content="@baltsundata")
		meta(name="twitter:title", content="Readers Vote: Ravens' Best Plays")
		meta(name="twitter:description", content="We chose 10 of the top plays in Ravens history. Relive them, then scroll to the bottom to rank them based on your favorites.")
		meta(name="twitter:image", content="#{datalink}images/thumbnail.png")
		meta(name="twitter:domain", content="baltimoresun.com")
		
		include includes/ad-for-header.html
	body
		include includes/omniture.html		
		.container
			.splash
				.splashWrap
					.headlineWrap
						h2 Readers vote:
						h1 Ravens' <br/>Best <br/>Plays >>
						.subhead
							p.intro The Baltimore Sun chose 10 of the top plays in Ravens history. Relive them, then scroll to the bottom to rank them based on your favorites.
							p.byline Compiled by Mark Selig<br/> Design & Development by Jin Bae Kim
					img.splashImg(src="#{datalink}images/play8.png")
				.imageFade
			each play, index in plays
				.sixteenNine
					.playBlock(class="playBlock--#{index}" name="anchor#{index}" id="anchor#{index}")
						.subheadBlock
							h2 #{play.playName}
							.shareTools
								i.activeButton.icon-facebook(data-slideNum=index data-shareText=play.playName)
								i.activeButton.icon-twitter(data-slideNum=index data-shareText=play.playName)
							.stripes.stripes--lightPurple
							.stripes.stripes--darkPurple
						.textBlock
							p.date #{play.playDate}
							p #{play.playText}
						.imageBlock
							img.shadow(src="#{datalink}images/play#{index}.png")
							img.cutout(src="#{datalink}images/play#{index}.png")
						.imageFade
						.nav
							if (index == 0)
								i.upButton.inactiveButton.icon-angle-circled-up(data-slideNum=index)
							else 
								i.upButton.activeButton.icon-angle-circled-up(data-slideNum=index)
							if (play.videoBool == "TRUE")
								a(href="#{play.playVideo}" target="_blank")
									i.videoButton.activeButton.icon-youtube-play
							else
								i.videoButton.inactiveButton.icon-youtube-play
							i.downButton.activeButton.icon-angle-circled-down(data-slideNum=index)
							i.downButton.activeButton.icon-ok-circled2(data-slideNum=9)
			.voteBlock.playBlock(class="playBlock--10" name="anchor10" id="anchor10")
				#leaderboard			
					include includes/ad-for-body.html
				script(type="text/javascript" src="#{datalink}js/polljunkie.js")
				script(type="text/javascript").
					PollJunkie.show({"s":"whats-the-best-play-in-ravens-history","width":"300px","height":"300px","code":"crtrem","borderColor":"#241773","barBgColor":"black","fontColor":"black"});
				//- i.upButton.activeButton.icon-angle-double-up(data-slideNum=1)
		
		//Javascript
		//- script(src="#{datalink}js/app.js")
		script(src="#{datalink}js/app.min.js")

	